<div class="container">
    <h1 class="text-center"> Админ панель</h1>
    <div>
        <a href="./adminUsers.php">Список зарегистрированных пользователей</a>
    </div>
    <div>
        <a href="./adminOrders.php">Список совершенных заказов</a>
    </div>
    <div>
        <img src="./cat.gif">
    </div>
</div>